* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    margin: auto;
    width: 800px;
    height: 400px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr; equals to ↓ */
    grid-template: 1fr 8fr / 1fr 1fr 1fr;
    gap: 20px 20px;
}

.grid div {
    background-color: #607d8b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: num;
}

div::before {
    content: "Element " counter(num);
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}