.element{
    background-color: #eeeeee;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 30px 20% 30px 15px;
    outline: 10px solid #eeeeee;
}
.element-1 {
    border-left: 5px solid #e91e63;
    /* border-inline: 5px solid #e91e63; */
}
.element-2 {
    visibility: hidden;
}
.element-3 {
    border-left: 5px solid #009688;
}
