div {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px solid red;
    margin: 10px;
    padding: 20px;
}

div p {
    background-color: #dddddd;
    border: inherit;
    padding: inherit;
    margin: 5px;
}